/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #184b84;
  background-image: url("https://wallpaperscraft.com/image/higurashi_no_naku_koro_ni_ryuuguu_rena_girl_joy_hand_34081_1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

// SASS Variables.


canvas {
  display: block;
  vertical-align: bottom;
}


.text {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
	color: #ffffff;
	max-width: 90%;
	padding: 2em 3em;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0px 0px 2px #131415;
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 2.25em;
	font-weight: 700;
	letter-spacing: -1px;
}

a,
a:visited {
	color: $link;
	transition: 0.25s;
}

a:hover,
a:focus {
	color: $link-hover;
}